page-accueil{
   .scroll-content {
      overflow: hidden;
   }

  .card-title {
    height: 40px !important;
    padding: 2px !important;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 7px;
    background: -webkit-linear-gradient(#f7dcd3, #cbd3eb, #3baaca);
    z-index: 3;
    box-shadow: none !important;
  }


   //ANIMATIONS
   #carte{
     // background-color: red;
     width:100vw;
     max-width:100vw;
   }

   img[alt="dislikeAnimation"], img[alt="likeAnimation"]{
      // width: 100px;
      position: absolute;
      // width: auto;
      right: 0;
      left: 0;
      // margin: 0 16px;
      // padding: 0 16px 0 16px 16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      // left: 50%;
      // top: 50%;
      // margin-top: -70px;
      // margin-left: -50px;
   }

   ion-footer img:nth-of-type(1){
     margin-left : 7vw;

   }
   ion-footer img:nth-of-type(2){
     float: right;
     margin-right : 7vw;
   }


  // CARD INFOS
  ion-card, .ion-card, .card-md{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    margin-top: 4vh;
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
    height: 69vh;
    // overflow-y: scroll;
  }

  .overflow{
    overflow-y: scroll;
  }

  .stats{
    color: #cacaca;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
  }


  .informations{
    color: #cacaca;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .informations img {
    width: 20px;
    float: right;
  }


  .afficheVetements{
    padding-left: 10px;
    padding-bottom: 10px;
    color: #cacaca;
  }

  .afficheVetement ul{
    list-style-type: none;
  }






   // FOOTER
   .boxLikes{
      position: absolute;
      bottom: 0;
      margin-left: -11px;
      width: 100%;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
   }

   .boxLikes  img{
      width: 60px;
      margin: 0 6px;
   }

   img[alt="comment"]{
     width: 40px;
     margin-top: 20px;
   }

  .border{
    height: 36px !important;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: none !important;
  }

  .border  b {
    font-size: 15px !important;
  }

  .commentaires{
     position: absolute;
     background-color: white;
     width: 100%;
     height: 55vh;
     top: 19vh;
     padding: 0 15px;
     box-shadow: 0px -5px 20px grey;
     font-size: 1.7rem;
   }

   .containerCommentaires{
      height: 47vh;
      overflow: scroll;
   }

   .commentaires span b{
      font-size: 1.8rem;
   }


   .commentaires input{
      position: absolute;
      bottom: 7px;
      left: 45px;
      display: block;
      width: 70vw;
      height: 40px;
      margin-left: auto;
      margin-right: auto;


      border: none;
      background-color: #f8f8f8;
      border-radius: 50px;
      padding-left: 20px;

   }

   .commentaires input::-webkit-input-placeholder {
     color: #cacaca !important;
   }

   img[alt="envoieCommentaire"]{
      position: absolute;
      right: 20px;
      bottom: 7px;
      width: 35px;
      transform: scaleX(-1);
        filter: FlipH;
   }

   .noPhotos{
     color: #cacaca;
     text-align: center;
     margin-top: 40vh;
     font-size: 2em;
   }

}
