page-accueil{


  .card{
    box-shadow: unset;
    // background-color: black;
    // display: block;
    // width: 100%;
    // height: 100%;

  }

  .card-title {
    height: 40px !important;
    padding: 2px !important;

    margin: 0;

    position: absolute;
    top: 7px;
    left: 7px;

    background: -webkit-linear-gradient(#f7dcd3, #cbd3eb, #3baaca);
    z-index: 3;
    box-shadow: none !important;
  }

  .border{
    height: 36px !important;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: none !important;

  }

  .border  b {
    font-size: 15px !important;
  }

  .margin{
    margin-top: 7px;
    // padding: 0 7px;
    z-index: 1;
  }
}

//emmet
//autocompletion
