<ion-header>
<!-- <ion-header no-border> -->

  <ion-navbar>
    <ion-buttons start left>
      <button ion-button menuToggle>
        <img alt="menu" height="23" src="assets/imgs/menu_icon.png">
      </button>
    </ion-buttons>

    <ion-title>
      <!-- <img alt="fiber" height="15" src="assets/imgs/fiber_title.png"> -->
      FIBER
    </ion-title>

    <ion-buttons right end>
      <button ion-button (click)="load(filtresPage)">
        <img alt="filters" height="23" src="assets/imgs/filter_icon.png">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content">

  <ion-card id="card" no-shadow  class="card" (swipe)="swipeEvent($event)"  >
    <button ion-button round no-lines detail-none class="card-title" (click)="clickProfile()">
      <button ion-button round no-lines detail-none class="border" >
        <b>{{this.authorPhoto}}</b>
      </button>
    </button>

    <img *ngIf="hasDisliked" alt="dislikeAnimation" src="assets/imgs/dislike.png">
    <img *ngIf="hasLiked" alt="likeAnimation" src="assets/imgs/like.png">

    <img id="imaage" class="margin" src={{this.currentPhoto}} />

    <ion-row class="boxLikes">
        <img alt="dislike" (click)="dislike()" src="assets/imgs/dislike.png">
        <img alt="comment" (click)="commenter()" src="assets/imgs/comment.png">
        <img alt="like" (click)="like()" src="assets/imgs/like.png">
    </ion-row>
  </ion-card>

  <div class="commentaires" *ngIf="hasComment">
   <div class="containerCommentaires">
      <p *ngFor="let comment of commentaires">
        <span><b>{{comment["login_user"]}} : </b></span>
        <span>{{comment["text_comment"]}} </span>
      </p>
   </div>

   <div class="fixCommentaires">
      <input type="text" placeholder="Laisser un commentaire">
      <img alt="envoieCommentaire" (click)="envoyerCommmentaire()" src="assets/imgs/retour.png">
   </div>
   <!-- <button (click)="ecrireCommentaire()" value="Ecrire un commentaire">Commenter la photo</button> -->
 </div>

</ion-content>
