<ion-header>
  <ion-navbar>
    <ion-buttons start left>
      <button ion-button menuToggle>
        <img alt="menu" height="23" src="assets/imgs/menu_icon.png">
      </button>
    </ion-buttons>

    <ion-title>
      FIBER
    </ion-title>

    <ion-buttons right end>
      <button ion-button (click)="load(filtresPage)">
        <img alt="filters" height="23" src="assets/imgs/filter_icon.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="affichePlusDePhoto">
  <p class="noPhotos">
    Il n'y a plus de looks à afficher pour le moment, reviens vite !
  </p>
</ion-content>

<ion-content *ngIf="afficheLesPhotos" class="content">
  <div (swipe)="swipeEvent($event)">
    <button ion-button round no-lines detail-none class="card-title" (click)="clickProfile()">
      <button ion-button round no-lines detail-none class="border" >
        <b>{{this.authorPhoto}}</b>
      </button>
    </button>

    <ion-card [ngClass]="{'overflow': (plusAffiche === false)}">
      <img *ngIf="hasDisliked" alt="dislikeAnimation" src="assets/imgs/dislike.png">
      <img *ngIf="hasLiked" alt="likeAnimation" src="assets/imgs/like.png">

      <img id="imaage" class="margin" src={{this.currentPhoto}}/>
      <p class="stats">{{nbCom}} commentaires &nbsp; &nbsp;{{nbLike}} likes</p>

      <p class="informations">
        {{description}}<br /><br />

        <b>{{occasion}}</b> &nbsp;&nbsp;
        <b>{{saison}}</b> &nbsp;&nbsp;
        <b>{{style}} </b>
        <img *ngIf="plusAffiche" src="assets/imgs/plus.png" (click)="afficherVetement()">
        <img *ngIf="!plusAffiche" src="assets/imgs/moins.png" (click)="afficherVetement()"><br /><br />
      </p>

      <div class="afficheVetements" *ngIf="afficheVetement">
        <b>{{nbVet}} Vetements</b>

        <!--AFFICHAGE DES VETEMENTS -->
        <ul *ngIf="hasVetement">
          <li *ngFor="let vet of listeVetement" >
            <b>Nom :</b> {{vet.name_cloth}}<br />
            <b>Couleur :</b> {{vet.name_color}}<br />
            <b>Motif :</b> {{vet.name_pattern}}<br />
            <b>Prix :</b> {{vet.name_cloth}}<br />
            <b>Magasin :</b> {{vet.name_store}}
          </li>
          <br /><br />
        </ul>
      </div>
    </ion-card>
  </div>


  <ion-row class="boxLikes">
       <img alt="dislike" (click)="dislike()" src="assets/imgs/dislike.png">
      <img alt="comment" (click)="commenter()" src="assets/imgs/comment.png">
      <img alt="like" (click)="like()" src="assets/imgs/like.png">
  </ion-row>

  <div class="commentaires" *ngIf="hasComment">
   <div class="containerCommentaires">
     <p *ngIf="commentEmpty">
       <i style="opacity:0.3"> Pas de commentaires, sois le premier à commenter ce look !</i>
     </p>
      <p *ngFor="let comment of commentaires">
        <span><b>{{comment["login_user"]}} : </b></span>
        <span>{{comment["text_comment"]}} </span>
      </p>
   </div>

   <div class="fixCommentaires">
      <input type="text" placeholder="Laisser un commentaire" [(ngModel)]="postCom">
      <img alt="envoieCommentaire" (click)="envoyerCommentaire()" src="assets/imgs/retour.png">
   </div>
   <!-- <button (click)="ecrireCommentaire()" value="Ecrire un commentaire">Commenter la photo</button> -->
 </div>
</ion-content>

<ion-footer no-border>
    <img alt="profil" (click)="load(profilPage)" height="35" src="assets/imgs/profile.png">
    <img alt="photo" (click)="load(takePhotoPage)" height="35" src="assets/imgs/photo_icon.png">
</ion-footer>
