page-accueil{
   .scroll-content {
      overflow: hidden;
   }


  .card{
    box-shadow: unset;
    height: 71vh;
    overflow: hidden;
  }

  .card-title {
    height: 40px !important;
    padding: 2px !important;

    margin: 0;

    position: absolute;
    top: 7px;
    left: 7px;

    background: -webkit-linear-gradient(#f7dcd3, #cbd3eb, #3baaca);
    z-index: 3;
    box-shadow: none !important;
  }

   .boxLikes{
      position: absolute;
      bottom: 0;
      margin-left: -11px;
      width: 100%;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      // z-index: 999:
   }

   .boxLikes  img{
      width: 60px;
      margin: 0 6px;
   }

   img[alt="comment"]{
     width: 40px;
     margin-top: 20px;
   }

  .border{
    height: 36px !important;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: none !important;
  }

  .border  b {
    font-size: 15px !important;
  }

  .margin{
    margin-top: 7px;
    z-index: 1;
    display: block;
  }

  .commentaires{
     position: absolute;
     background-color: white;
     width: 100%;
     height: 55vh;
     top: 18vh;
     padding: 0 15px;
     box-shadow: 0px -5px 20px grey;
     font-size: 1.7rem;
   }

   .containerCommentaires{
      height: 47vh;
      overflow: scroll;
   }

   .commentaires span b{
      font-size: 1.8rem;
   }


   .commentaires input{
      position: absolute;
      bottom: 7px;
      left: 45px;
      display: block;
      width: 70vw;
      height: 40px;
      margin-left: auto;
      margin-right: auto;


      border: none;
      background-color: #f8f8f8;
      border-radius: 50px;
      padding-left: 20px;

   }

   .commentaires input::-webkit-input-placeholder {
     color: #cacaca !important;
   }

   img[alt="envoieCommentaire"]{
      position: absolute;
      right: 20px;
      bottom: 7px;
      width: 35px;
      transform: scaleX(-1);
        filter: FlipH;
   }

}
