page-selected-photo {
  *, .card-md p{
    color: #cacaca;
  }

  .title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
  }

  .nbLikes{
    text-align: right;
    font-size: 1.2em;

  }

  ion-card, .ion-card, .card-md, .card{
    border-radius: 10px!important;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.03)!important;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
    width: auto;
  }

  .containerCommentaires{
    max-height: 20vh;
    overflow-y: scroll;
  }

  ul{
    list-style-type: none;
    padding-left: 0;
  }
}
