<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button navPop>
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title>Fiber</ion-title>

    <ion-buttons *ngIf="activeUser" right end>
      <button ion-button (click)="supprimerPhoto()">
        <img alt="remove" height="23" src="assets/imgs/poubelle.png">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <img [src]="imageSelectionne"/>
  <div class="infosLike">
    <p class="nbLikes"><b>{{nbLike}} likes</b></p><br />

    <img *ngIf="hasliked && !activeUser" alt="like" src="assets/imgs/hasliked.png">
    <img *ngIf="!hasliked && !activeUser" alt="like" (click)="like()" src="assets/imgs/like.png">
    <!-- <img alt="like" (click)="like()" src="assets/imgs/like.png"> &nbsp; -->
  </div>

  <!-- Description -->
  <ion-card>
    <p *ngIf="!hasDescription">
      Aucune description renseignée
    </p>

    <p *ngIf="hasDescription">
      {{description}}
    </p>
  </ion-card>

  <!-- Commentaires -->
  <ion-card>
    <b>Commentaires ({{nbCom}})</b><br /><br />

    <p *ngIf="commentEmpty">
      Pas de commentaires disponibles
    </p>

    <div *ngIf="!commentEmpty" class="containerCommentaires">
     <p class="text-comment" *ngFor="let comment of commentaires">
       <b>{{comment["login_user"]}}</b><br />
       <span>{{comment["text_comment"]}} </span>
     </p>
   </div>

   <!-- <div class="laisserUnCommentaire"> -->
    <input *ngIf="!activeUser" type="text" placeholder="Laisser un commentaire" [(ngModel)]="postCom">
    <img *ngIf="!activeUser" alt="envoieCommentaire" (click)="envoyerCommentaire()" src="assets/imgs/retour.png">
   <!-- </div> -->
  </ion-card>

  <!-- Tags -->
  <ion-card>
    <b>Infos</b> <br /><br />

    {{occasion}} &nbsp;&nbsp;
    {{saison}} &nbsp;&nbsp;
    {{style}}
  </ion-card>

  <!-- Vêtements -->
  <ion-card>
    <b>Vêtements ({{nbVet}})</b><br />

    <ul *ngIf="hasVetement">
      <li *ngFor="let vet of listeVetement" >
        <b>Nom :</b> {{vet.name_cloth}}<br />
        <b>Couleur :</b> {{vet.name_color}}<br />
        <b>Motif :</b> {{vet.name_pattern}}<br />
        <b>Prix :</b> {{vet.price_cloth}} €<br />
        <b>Magasin :</b> {{vet.name_store}}
      </li>
    </ul>
  </ion-card>
</ion-content>
