<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="popView()">
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title>PHOTO</ion-title>

    <ion-buttons right>
      <button ion-button (click)="envoyer()">
        <span class="btnEnvoi">Envoyer &nbsp;</span><img alt="envoi" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #myform="ngForm" (ngSubmit)="envoiTag()">

    <!-- INFORMATIONS PRINCIPALES -->
    <ion-card no-lines no-border class="card">
      <img [src]="imageTaken"  *ngIf="imageTaken"  />
      <img [src]="imageGallery"  *ngIf="imageGallery"  />
    </ion-card>

    <!-- DETAILS COMMERCIAUX -->
    <ion-textarea placeholder="Ajouter une description" type="text" [(ngModel)]="description" name="description" required></ion-textarea>
    <input placeholder="Prix (en euros)" type="number" [(ngModel)]="prix" name="prix" required>
    <input placeholder="Magasin" type="text" (keyUp)="callMaps()" [(ngModel)]="magasin" name="magasin" required />

    <ul>
      <li *ngFor="let prop of propositions">
        {{prop}}
      </li>
    </ul>

    <!-- PRECISIONS SUR LES VETEMENTS -->
    <ion-item>
      <ion-label>VÊTEMENT</ion-label>
      <ion-select [(ngModel)]="vetement" name="vetement" multiple="flase">
        <ion-option value="veste">Veste</ion-option>
        <ion-option value="tshirtCourt">T-shirt manches courtes</ion-option>
        <ion-option value="tshitLong">T-shirt manches longues</ion-option>
        <ion-option value="sweatWithCapuche">Sweat à capuche</ion-option>
        <ion-option value="sweatWithoutCapuche">Sweat sans capuche</ion-option>
        <ion-option value="jean">Jean</ion-option>
        <ion-option value="chino">Chino</ion-option>
        <ion-option value="pantalon">Pantalon</ion-option>
        <ion-option value="jupe">Jupe</ion-option>
        <ion-option value="robe">Robe</ion-option>
        <ion-option value="marcel">Marcel</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>COULEUR</ion-label>
      <ion-select [(ngModel)]="couleur" name="couleur" multiple="true">
        <ion-option value="noir">Noir</ion-option>
        <ion-option value="blanc">Blanc</ion-option>
        <ion-option value="gris">Gris</ion-option>
        <ion-option value="marron">Marron</ion-option>
        <ion-option value="bleu">Bleu</ion-option>
        <ion-option value="vert">Vert</ion-option>
        <ion-option value="rouge">Rouge</ion-option>
        <ion-option value="violet">Violet</ion-option>
        <ion-option value="rose">Rose</ion-option>
        <ion-option value="kaki">Kaki</ion-option>
        <ion-option value="jaune">Jaune</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>MOTIF</ion-label>
      <ion-select [(ngModel)]="Motif" name="motif" multiple="true">
        <ion-option value="uni">Uni</ion-option>
        <ion-option value="raye">Rayé</ion-option>
        <ion-option value="pois">A pois</ion-option>
        <ion-option value="chine">Chiné</ion-option>
        <ion-option value="original">Original</ion-option>
      </ion-select>
    </ion-item>

    <!-- PRECISIONS SUR LE LOOK -->
    <ion-item>
      <ion-label>OCCASION</ion-label>
      <ion-select [(ngModel)]="occasions" name="occasion" multiple="true">
        <ion-option value="cours">Aller en cours</ion-option>
        <ion-option value="amis">Soirée entre amis</ion-option>
        <ion-option value="chill">Chill</ion-option>
        <ion-option value="travail">Au travail</ion-option>
        <ion-option value="sport">Aller au sport</ion-option>
        <ion-option value="fete">Pour les fêtes</ion-option>
        <ion-option value="cocktail">Aller à un cocktail / Séminaire</ion-option>
        <ion-option value="rdv">Premier rendez-vous</ion-option>
        <ion-option value="entretien">Entretien</ion-option>
        <ion-option value="festival">En Festival</ion-option>
        <ion-option value="mariage">Mariage</ion-option>
        <ion-option value="vacances">En vacances</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>SAISON</ion-label>
      <ion-select [(ngModel)]="saisons" name="saison" multiple="false">
        <ion-option value="printemps">Printemps</ion-option>
        <ion-option value="ete">Été</ion-option>
        <ion-option value="automne">Automne</ion-option>
        <ion-option value="hiver">Hiver</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>STYLE</ion-label>
      <ion-select [(ngModel)]="styles" name="style" multiple="true">
        <ion-option value="casual">Casual</ion-option>
        <ion-option value="urbain">Urbain</ion-option>
        <ion-option value="business">Business</ion-option>
        <ion-option value="chic">Chic</ion-option>
        <ion-option value="street">Street</ion-option>
        <ion-option value="sport">Sport</ion-option>
        <ion-option value="rock">Rock</ion-option>
        <ion-option value="boheme">Bohème</ion-option>
        <ion-option value="baroudeur">Baroudeur</ion-option>
        <ion-option value="autre">Autre</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button class="buttonInsta" (click)="partager()" value="Partager">Partager sur Instagram</button>
    <!-- <button ion-button class="buttonEnvoi" (click)="envoyer()" value="Envoi">Envoyer</button> -->
  </form>
</ion-content>
