page-connexion-inscription {
  .title, .title-md, .title-ios, ion-title, .toolbar-title-md, .toolbar-title-ios{
    position: relative;
    padding: 0;
    height: auto;
    width: auto;
    font-size: 2.4em;
    margin: 6vh auto 0;
  }

  ion-content{
    font-size: 1.2em;
  }

  .button{
    color: white;
    border-radius: 50px;
    width: 70vw;
    margin: 0 auto 3vh;
  }

  .button:nth-of-type(1){
    margin-top: 10vh;
    border: solid 1px #3b5998;
    color: #3b5998;
    // background-color: #3b5998;
  }

  .button:nth-of-type(2){
    border: solid 1px #dd4b39;
    color: #dd4b39;
    // background-color: #dd4b39;
  }
// b1c3dd
  .button:nth-of-type(3){
    // background: linear-gradient(to right, #b1c3dd, #ebd2cc);
    background: linear-gradient(to right, #a7c1e0, #f5d4c9);
    // background-color: #dd4b39;
  }

  p{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0;
  }

  .button:nth-of-type(4){
    color: black;
    opacity: 0.4;
  }
}
