<ion-header>
  <!-- MENU IF ROOT USER

  BACK IF OTHER USER -->
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="popView()">
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title *ngIf="loaded">Profil de {{user}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--DIV CACHE TANT QU'ON SAIT PAS SI L'UTILISATEUR EST ABONNE OU PAS-->
  <div *ngIf="loaded">
    <!--s'il est pas abonné-->
    <p *ngIf="!suivi">
      S'ABONNER
      <button  (click)="abonnement(true)">S'abonner</button>
    </p>
    <!--s'il est abonné-->
    <p *ngIf="suivi">
      SE DESABONNER
      <button  (click)="abonnement(false)">Se désabonner</button>
    </p>
  </div>
  <p *ngIf="userParams">
    <button (click)="modifProfile"> Modifier son profil </button>
  </p>
  <p *ngFor="let photo of photos ">
    <img src={{photo}} />
  </p>
</ion-content>

<ion-footer no-border>
    <img alt="profil" (click)="load(profilPage)" height="35" src="assets/imgs/profile.png">
    <img alt="photo" (click)="load(takePhotoPage)" height="35" src="assets/imgs/photo_icon_off.png">
</ion-footer>
