<ion-header>
  <ion-navbar>
    <ion-buttons left start>
      <button ion-button (click)="popView()">
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title>Fiber</ion-title>

    <ion-buttons *ngIf="userParams" right end>
      <button ion-button (click)="load(modifProfilePage)">
        <img alt="settings" height="23" src="assets/imgs/settings.png">
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <img *ngIf="userPhoto" src={{user.photo}}/> -->
  <img src="assets/imgs/user_profile.png" width=100 alt="">
  <div class="right">
    <div>

      <h2>{{user}}</h2>
      <p *ngIf="userBiographie">{{user.biographie}}</p>
      <p class="noBio" *ngIf="!userBiographie"><span *ngIf="!userParams">{{user}} n'a</span><span *ngIf="userParams">Vous n'avez</span> pas encore de biographie</p>

      <!--DIV CACHE TANT QU'ON SAIT PAS SI L'UTILISATEUR EST ABONNE OU PAS-->
      <div *ngIf="loaded">
        <!--s'il est pas abonné-->
        <button class="abonnement" *ngIf="!suivi" (click)="abonnement(true)">S'abonner</button>
        <!--s'il est abonné-->
        <button class="abonnement" *ngIf="suivi" (click)="abonnement(false)">Se désabonner</button>
      </div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-4 class="overview" *ngFor="let photo of photos; let i = index" (press)="selectAll()">
        <ion-icon [name]="visible ? 'checkmark-circle-outline' :'checkmark-circle'" class="selectPictures" *ngIf="selectPictures" (click)="selectOne(i)"></ion-icon>
        <img src={{photo}}/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
    <img alt="profil" (click)="load(profilPage)" height="35" src="assets/imgs/profile.png">
    <img alt="photo" (click)="load(takePhotoPage)" height="35" src="assets/imgs/photo_icon_off.png">
</ion-footer>
