<ion-header>
  <ion-navbar>
    <ion-buttons left start>
      <button ion-button (click)="popView()">
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title>Fiber</ion-title>

    <ion-buttons *ngIf="userParams" right end>
      <button ion-button (click)="load(modifProfilePage)">
        <img alt="settings" height="23" src="assets/imgs/settings.png">
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <img *ngIf="userPhoto" src={{photoProfil}} alt="photoProfil"/>
  <img *ngIf="!userPhoto" src="assets/imgs/user_profile.png" width=100 alt="">
  <div class="right">
    <div>
      <h2>{{user}}</h2>
      <p>{{bio}}</p>

      <!--DIV CACHE TANT QU'ON SAIT PAS SI L'UTILISATEUR EST ABONNE OU PAS-->
      <div *ngIf="loaded">
        <!--s'il est pas abonné-->
        <button class="abonnement" *ngIf="!suivi" (click)="abonnement(true)">S'abonner</button>
        <!--s'il est abonné-->
        <button class="abonnement" *ngIf="suivi" (click)="abonnement(false)">Se désabonner</button>
      </div>
    </div>
  </div>

  <ion-grid>
    <ion-row *ngIf="gotPhotos">
      <ion-col  col-4 class="overview" *ngFor="let photo of photos let i = index;">
        <img (click)="selectOne(i)" src={{photo}} />
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!gotPhotos">
      <p class="noPhotos">
        <span *ngIf="userParams">Vous n'avez</span><span *ngIf="!userParams">L'utilisateur n'as</span>&nbsp;pas encore de photos
      </p>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
    <img alt="profil" (click)="load(profilPage)" height="35" src="assets/imgs/profile.png">
    <img alt="photo" (click)="load(takePhotoPage)" height="35" src="assets/imgs/photo_icon_off.png">
</ion-footer>
