page-support {
  // INPUT
  .input-wrapper{
    display: block;
    margin: 0;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #cacaca !important;
  }

  ion-input, input{
    display: block;
    background-color: #f8f8f8;
    border-radius: 50px;

    width: 70vw;
    margin: 0 auto;
    border: none;
    height: 50px;
    padding-left: 20px;

    font-size: 1.2em;
    margin-top: 6vh;
    margin-bottom: 5vh;
  }

  textarea, .text-input, .text-input-ios{
    font-size: 1.2em;
    background-color: #f8f8f8;
    border-radius: 20px;
    width: 70vw;
    margin: 0 auto 4vh !important;
    opacity: 100%;
    height: 50vh;
    padding: 20px;
  }

  .buttonEnvoi{
    display: block;
    color: #cacaca;
    box-shadow: unset !important;
    opacity: 1 !important;
    width: 70vw;
    margin: 0 auto;
    border-radius: 50px;
    padding: 25px 0;
    font-size: 1.5em;
    border: solid 2px #cacaca;
  }
/*J'AI C/C les style de la page d'accueil */
.commentaires{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 55vh;
    top: 19vh;
    padding: 0 15px;
    box-shadow: 0px -5px 20px grey;
    font-size: 1.7rem;
  }

  .containerCommentaires{
     height: 47vh;
     overflow: scroll;
  }

  .commentaires span b{
     font-size: 1.8rem;
  }


  .commentaires input{
     position: absolute;
     bottom: 7px;
     left: 45px;
     display: block;
     width: 70vw;
     height: 40px;
     margin-left: auto;
     margin-right: auto;


     border: none;
     background-color: #f8f8f8;
     border-radius: 50px;
     padding-left: 20px;

  }

  .commentaires input::-webkit-input-placeholder {
    color: #cacaca !important;
  }

  img[alt="envoieCommentaire"]{
     position: absolute;
     right: 20px;
     bottom: 7px;
     width: 35px;
     transform: scaleX(-1);
       filter: FlipH;
  }

  .noPhotos{
    color: #cacaca;
    text-align: center;
    margin-top: 40vh;
    font-size: 2em;
  }

}
