// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Medium.woff");
  font-weight: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Bold.woff");
  font-weight: bold;
}

*{
  font-size: 0.97em;
}

.title, .title-md, .title-ios, ion-title, .toolbar-title-md, .toolbar-title-ios{
  font-size: 2.1rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#f5d4c9, #b2c4dd, #42aac6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.menuTitle{
  font-size: 1.4em;
}

.toolbar-background {
  background-color: white;
}

.toolbar-title{
  display: flex;
  justify-content: center;
}

.button{
  margin: 7vh 0;
  text-transform: none;
  background-color: white;

}

.decoButton{
  opacity: 0.3;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
