// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Medium.woff");
  font-weight: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Bold.woff");
  font-weight: bold;
}

*{
  font-size: 0.97em;
}

.title, .title-md, ion-title, .toolbar-title-md{
  font-size: 1.6em;
  font-weight: bold;
  background: -webkit-linear-gradient(#f5d4c9, #b2c4dd, #42aac6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuTitle{
  font-size: 1.4em;
}

.toolbar-background {
  background-color: white;
}

.toolbar-title{
  display: flex;
  justify-content: center;
}

.button{
  margin: 7vh 0;
}

.button:nth-child(4){
  opacity: 0.3;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
