<!--=========== 2 CAS AU BOOT : LOG OU PAS LOG
QUAND LOG = CHARGER DANS CE COMPOSANT IDEALEMENT
<menu></menu>
<page-accueil> DANS LA PAGE D'ACCUEIL METTRE LES BOUTONS LIKE PAS LIKE PROFIL ETC </page-accueil>
-->

<div *ngIf="tokenExist">
  <!--LE MENU-->
  <ion-menu  [content]="nav">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MENU
          <!-- <img alt="fiber" height="15" src="assets/imgs/menu_title.png"> -->
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

        <button class="button" ion-item no-lines detail-none text-center (click)="onLoad(tabsPage)">
          Accueil
        </button>

        <button class="button" ion-item no-lines detail-none text-center onclick="window.open('http://fiber-app.com/index-blog.html', '_system', 'location=yes')">
          Blog
        </button>

        <button class="button" ion-item no-lines detail-none text-center onclick="window.open('http://fiber-app.com/index-presentation.html', '_system', 'location=yes')">
          Dernières nouvelles
        </button>

        <button class="button" ion-item no-lines detail-none text-center (click)="onLoad(supportPage)">
          Support technique
        </button>

        <button class="button" ion-item no-lines detail-none text-center (click)="onLoad(connexionInscriptionPage)">
          Se déconnecter
        </button>


    </ion-content>
  </ion-menu>

  <!-- devrait être dans la page accueil -->
  <ion-nav [root]="tabsPage" #nav></ion-nav>
</div>
<ion-nav #myNav [root]="rootPage" *ngIf="!tokenExist">

</ion-nav>
