<ion-header>
  <ion-navbar>
    <ion-buttons left start>
      <button ion-button (click)="popView()">
        <img alt="menu" height="23" src="assets/imgs/retour.png">
      </button>
    </ion-buttons>

    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <!-- RECUPERER LA PHOTO DANS LA TABLE USER ET METTRE BOOLEAN userPhoto à true -->
    <img *ngIf="userPhoto" src={{photo}}/>
    <img *ngIf="!userPhoto" src="assets/imgs/user_profile.png" alt="">
    <button ion-button class="changePhoto" (click)="changePhoto()">Modifier la photo de profil</button>
  </div>

  <!-- REMPLACER LE PLACEHOLDER PAR LE LABEL CORRESPONDANT -->
  <ion-label>Nom d'utilisateur</ion-label>
  <input name="nameUser" [(ngModel)]="newLogin" placeholder="{{Login}}">

  <ion-label>Bio</ion-label>
  <input name="bioUser" [(ngModel)]="newBio" placeholder="{{placeholderBio}}">

  <ion-label>Mail</ion-label>
  <input name="mailUser" [(ngModel)]="newMail" placeholder="{{newMail}}">

  <ion-label>Site web</ion-label>
  <input name="websiteUser" [(ngModel)]="newSite" placeholder="{{placeholderSite}}">

  <ion-label class="sexe">Sexe</ion-label>
  <ion-item no-lines>
    <ion-select [(ngModel)]="newSex" name="style" placeholder="{{newSex}}" multiple="false">
      <ion-option class="pink" value="1">Femme</ion-option>
      <ion-option class="blue" value="2">Homme</ion-option>
      <ion-option class="green" value="3">Autre</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button class="modifier" (click)="modifier()">Enregistrer</button>
</ion-content>
