page-modif-profil {
  input::-webkit-input-placeholder, input  {
    color: #cacaca !important;
  }

  .container{
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 25px;
  }

  .container > img{
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    float: left;
  }

  .container > .changePhoto{
    display: inline-block;
    color: #cacaca;
    box-shadow: unset;
    width: 55vw;
    border-radius: 50px;
    padding: 10px 0;
    border: solid 2px #cacaca;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
  }

  //CHAMPS
  ion-label{
    padding-left: 12px;
    font-size: 1.1em;
    margin-bottom: 7px!important;
    padding-bottom: 0;
  }

  ion-label:nth-of-type(1){
    margin-top: 20vh;
  }

  ion-input, input{
    display: block;
    background-color: #f8f8f8;
    border-radius: 50px;
    width: 70vw;
    border: none;
    padding: 12px;
    font-size: 1.1em;
    margin-bottom: 30px;
  }

  ion-select, .select-md{
    font-size: 0.8em;
    padding: 0;
    padding-left: -7px;


  }

  .sexe{
    margin-bottom: 0
  }

  .item-block{
    padding-left: 13px;
  }

  .item-cover {
    height: 80%;
  }

  ion-select{
    color: #cacaca;
  }


  .modifier{
    display: block;
    box-shadow: unset;
    width: 40vw;
    margin: 3vh auto 0;
    border-radius: 50px;
    padding: 15px 0;
    font-size: 1.2em;
    border: solid 2px #a7c1e0;
    background: -webkit-linear-gradient(#f5d4c9, #b2c4dd, #42aac6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }





}
